In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
computed_insights_df = pd.read_csv('C:\\Users\\sufya\\OneDrive\\Desktop\\Demand Forecasting\\Sales of summer clothes in E-cmmerce Wish\\computed_insight_success_of_active_sellers.csv')
product_ratings_df = pd.read_csv('C:\\Users\\sufya\\OneDrive\\Desktop\\Demand Forecasting\\Sales of summer clothes in E-cmmerce Wish\\summer-products-with-rating-and-performance_2020-08.csv')
unique_categories_df = pd.read_csv('C:\\Users\\sufya\\OneDrive\\Desktop\\Demand Forecasting\\Sales of summer clothes in E-cmmerce Wish\\unique-categories.csv')
categories_count_df = pd.read_csv('C:\\Users\\sufya\\OneDrive\\Desktop\\Demand Forecasting\\Sales of summer clothes in E-cmmerce Wish\\unique-categories.sorted-by-count.csv')

In [6]:
computed_insights_df.head(10)

,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.00,54.0,54.00,8836.0,1.0,50.0
1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.20,61.0,61.00,4010.0,3.0,60.0
2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.00,-1.0,-1.00,5531.0,NaN,NaN
3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.00,71.0,71.00,18393.0,1.0,100.0
4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.00,85.0,85.00,13789.0,NaN,NaN
5,53f2beb39020ee03566d6e18,1,100000,100000.0,4.067,330405.0,5.77,48.00,88.0,88.00,20744.0,NaN,NaN
6,5926c5ace8ff5525241b368d,7,96000,13714.0,4.139,55499.0,6.69,6.29,-4.0,-3.86,2250.0,1.0,14.0
7,5860c757b1e41d4d67d183e8,4,90100,22525.0,4.049,151249.0,3.43,3.75,11.0,11.00,6290.0,2.0,50.0
8,52bd3ddb34067e4620a4c62d,3,80000,26667.0,4.104,839882.0,7.22,14.67,33.0,33.33,6136.0,1.0,33.0
9,5a7b23a69bda4e3d375e7b3f,5,80000,16000.0,3.966,12974.0,8.40,7.80,-7.0,-6.80,2093.0,1.0,20.0

In [8]:
product_ratings_df.head(1)

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08

In [11]:
# list of columns of product_ratings_df
product_ratings_df.columns

Index(['title', 'title_orig', 'price', 'retail_price', 'currency_buyer',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

In [9]:
unique_categories_df.head(10)

                  tag
0    #fashion #shorts
1    #fashion #tshirt
2          #Sport Bra
3     #Summer Clothes
4          #top #crop
5  2 piece dress sets
6    2 Piece Swimsuit
7        2014menshort
8  2014summermenshort
9         2018fashion

In [10]:
categories_count_df.head(10)

   count          keyword
0   1321           Summer
1   1315  Women's Fashion
2   1082          Fashion
3    961            Women
4    905           Casual
5    636        Plus Size
6    580       sleeveless
7    549            Dress
8    540           Shorts
9    507             Tops

In [13]:
# create a new dataframe from the product_ratings_df with only: product_id, title, units_sold, rating
df_wish = product_ratings_df[['product_id', 'title', 'units_sold', 'rating']]

In [14]:
df_wish.head(10)

,product_id,title,units_sold,rating
0,5e9ae51d43d6a96e303acdb0,2020 Summer Vintage Flamingo Print Pajamas Se...,100,3.76
1,58940d436a0d3d5da4e95a38,SSHOUSE Summer Casual Sleeveless Soirée Party ...,20000,3.45
2,5ea10e2c617580260d55310a,2020 Nouvelle Arrivée Femmes Printemps et Été ...,100,3.57
3,5cedf17ad1d44c52c59e4aca,Hot Summer Cool T-shirt pour les femmes Mode T...,5000,4.03
4,5ebf5819ebac372b070b0e70,Femmes Shorts d'été à lacets taille élastique ...,100,3.10
5,5ec645bafd107a02279c8c54,Plus la taille d'été femmes décontracté sans m...,10,5.00
6,5c63a337d5e2ce4bbb3152cf,Women Fashion Loose Lace Blouse Blouse V Neck ...,50000,3.84
7,5e0ae5ebc2efb76ccf0a3391,Robe tunique ample femme Robe d'été Robe en je...,1000,3.76
8,5e6f1fb7fe4a5bb4b8bf36e5,Robe d'été décontractée à manches courtes pour...,100,3.47
9,5ccfaf238a8d535cec2dfb47,"Femmes d'été, plus la taille décontractée lâch...",5000,3.60

In [17]:
# print length of df_wish
print(len(product_ratings_df))

1573

In [15]:
# save this dataframe into a csv file
df_wish.to_csv('C:\\Users\\sufya\\OneDrive\\Desktop\\Demand Forecasting\\Sales of summer clothes in E-cmmerce Wish\\final_Wish_dataset.csv', index=False)